<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UzNation</title>
</head>
<body>

    <!-- Page Loader -->
	<div id="pre-loader" class="loader-container">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>
    <!--  main part of the page -->
    <div id="main">
    	<div class="container">

            <div class="row">
            	<div class="col-xs-12 content" style="padding:50px; text-align:center;color:#b7b7b7;">
            		<div class="post wow fadeInUp" data-wow-delay="0.6s">
							<div class="text-area">
							    <div id="number" style="font-size:200px; color:#777777; font-family:'Playfair Display', serif">404</div>
								<h3>{% trans 'Oops! Page Not Found' %}</h3>
								<h5>{% trans 'The page you were looking for could not be found.' %}</h5><br>
								<a href="{% url 'uznation:home' %}">
								<button type="button" class="btn btn-primary">{% trans 'RETURN HOME' %}</button>
								</a>
							</div>
					</div>
            	</div>
            </div>
    	</div>
    </div>
</body>
</html>