{% extends 'base-for-common.html' %}
{% load thumbnail %}
{% load i18n %}
{% block title %}UzNations | {{ content.title }}{% endblock %}

{% block main-row-div-1 %}
    <h2>{{ content.title }}</h2>
    {% if content.photo %}
    <div class="img" style="width: 650px; height: 500px"><img src="{{ content.photo|thumbnail_url:'big_text_content' }}" alt="{{ content.title }}"
                          style="width:900px; height:500px;"></div>
    {% endif %}
    <div class="text">
        <p>{{ content.body|safe }}</p>
    </div>

    <span class='st_vkontakte_large' displayText='Vkontakte'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
    <span class='st_facebook_large' displayText='Facebook'></span>

    {% if content.tags %}
        <p>
            {% trans 'Tags' %}:
            {% for tag in content.tags.all %}
                {{ tag.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <!-- project-area -->
    <div class="masonry-holder">
        <h2>{% trans 'Related topics' %}</h2>
        <ul class="masonry add">
            {% if related_topics %}
                {% for related in related_topics.all %}
                    <li>
                        <div class="holder">
                            <div class="img">
                                {% if related.photo %}
                                <img src="{{ related.photo.url }}" alt="{{ related.title }}">
                                {% endif %}
                            </div>
                            <div class="caption">
                                <div class="c1">
                                    <div class="c2">
                                        <strong class="title">{{ related.title }}</strong>
                                        <ul class="icons">
                                            {% if related.photo %}
                                            <li><a href="{{ related.photo|thumbnail_url:'related' }}"
                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                            <li><a href="{% url 'uznation:small' pk=related.pk %}">
                                                <i class="icon-attach"></i> <span>attach</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block pics %}
    <ul class="instagram">
        {% for pic in gallery %}
            {% if pic.photo %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
