{% extends 'base-for-common.html' %}
{% load i18n %}
{% block title %}UzNation | {% trans 'Gallery' %}{% endblock %}

{% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 col-lg-push-3 col-sm-push-4 content">
        {% for menu in menus %}
            {% if menu.gallery.count > 0 %}
                <div class="masonry-holder">
                    <h2>{{ menu.name }}</h2>
                    <ul class="masonry add">
                        {% for gallery in menu.gallery.all %}
                            <li>
                                <div class="holder">
                                    <div class="img">
                                        <img src="{{ gallery.photo.url }}" alt="image description"
                                             style="height:159px;">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block pics %}
    <ul class="instagram">
        {% for pic in gallery %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
        {% endfor %}
    </ul>
{% endblock %}