{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% block title %}NEW UzNations{% endblock %}
{% block main %}
    <main id="main">
        <!-- visual -->
        {% block slideshows %}
            <div class="visual">
                <div class="max-container">
                    <div class="slideshow" id="main-slider">
                        {% for slide in slides.all %}
                            <div class="slide">
                                <div class="caption">
                                    <div class="text">
                                        {{ slide.description|safe }}
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="{{ slide.photo|thumbnail_url:'slide' }}" alt="{{ slide.title }}">
                                </div>
                                <span class="box"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="max-container">
            <!-- info holder -->
            <div class="info-holder">
                {% block info-holder %}
                    {% for article in main_articles %}
                        {% if forloop.counter == 1 %}
                            <div class="info info-1">
                                <div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
                                    <div class="text">
                                        <h2 class="tild">{{ article.b_tild }}</h2>
                                        <div class="box">
                                            <h3>{{ article.b_box }}</h3>
                                        </div>
                                    </div>
                                    <div class="image wow fadeInRight" data-wow-delay="0.6s">
                                        <img src="{{ article.subarticle.last.photo|thumbnail_url:'main_article' }}"
                                             alt="image description">
                                    </div>
                                </div>
                                <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                                    <h3 style="color:blue">{{ article.subarticle.last.title }}</h3>
                                    {{ article.subarticle.last.body|truncatechars:1158|safe }}
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <div class="info info-2">
                                <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                                    <p align="center"
                                       style="color:blue;font-size:30px; font-weight: 700;">{{ article.subarticle.last.title }}</p>
                                    {{ article.subarticle.last.body|safe }}
                                </div>
                                <div class="img-frame">
                                    <div class="image wow fadeInRight" data-wow-delay="0.6s">
                                        <img src="{{ article.subarticle.last.photo|thumbnail_url:'main_article' }}"
                                             alt="image description" class="img">
                                    </div>
                                    <div class="text wow fadeInRight" data-wow-delay="0.3s">
                                        <h2 class="tild">{{ article.b_tild }}</h2>
                                        <div class="box">
                                            <div class="box-inner">
                                                <h3>{{ article.b_box }}</h3>
                                            </div>
                                            <br/>
                                            <br/>
                                            <br/>
                                        </div>
                                        <a href="{% url 'uznation:mainarticle' pk=article.pk %}"
                                           class="more">{% trans 'MORE' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <div class="info info-3">
                                <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                                    <h2 class="tild">{{ article.b_tild }}</h2>
                                    <!-- <span class="num">O'ZBEK  SAN'ATI</span>	-->
                                    <ul class="filter">
                                        <li class="active"><a href="#">{% trans "Barcha<br/>San'at<br/>Galleriyasi" %}<br/><br/></a>
                                        </li>
                                        <li><a href="#" data-filter=".work-b">{{ article.subarticle.last.title }}<br/><br/><br/></a>
                                        </li>
                                        <li><a href="#"
                                               data-filter=".work-w">{{ article.subarticle.first.get_next.title }}<br/><br/><br/></a>
                                        </li>
                                        <li><a href="#" data-filter=".work-m">{{ article.subarticle.first.title }}<br/><br/><br/></a>
                                        </li>
                                    </ul>
                                    <br/>
                                    <br/>
                                    <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">{% trans 'MORE' %}</a>
                                </div>
                                <div class="img-frame">
                                    <div class="img-area" id="masonry-container">
                                        <div class="item work-w wow fadeInUp" data-wow-delay="0.6s"
                                             style="position: absolute; left: 289px; top: 0px; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                            <img src="{{ article.subarticle.first.get_next.photo.url }}"
                                                 alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.first.get_next.title }}</strong>
                                                        <p>{{ article.subarticle.first.get_next.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.first.get_next.photo|thumbnail_url:'sanat_small' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.first.get_next.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item work-m wow fadeInUp" data-wow-delay="0.6s">
                                            <img src="{{ article.subarticle.first.photo.url }}" alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.first.title }}</strong>
                                                        <p>{{ article.subarticle.first.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.first.photo|thumbnail_url:'sanat_samll' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.first.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item work-b wow fadeInUp" data-wow-delay="0.6s">
                                            <img src="{{ article.subarticle.last.photo.url }}" alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.last.title }}</strong>
                                                        <p>{{ article.subarticle.last.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.last.photo|thumbnail_url:'sanat_small' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.last.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item add work-w wow fadeInUp" data-wow-delay="0.6s">
                                            <img src="{{ article.subarticle.first.get_next.photo2.url }}"
                                                 alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.first.get_next.title }}</strong>
                                                        <p>{{ article.subarticle.first.get_next.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.first.get_next.photo2|thumbnail_url:'rassom_big' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.first.get_next.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item work-b wow fadeInUp" data-wow-delay="0.6s">
                                            <img src="{{ article.subarticle.last.photo2.url }}" alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.last.title }}</strong>
                                                        <p>{{ article.subarticle.last.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.last.photo2|thumbnail_url:'kulol_big' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.last.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item add work-m wow fadeInUp" data-wow-delay="0.6s">
                                            <img src="{{ article.subarticle.first.photo2.url }}"
                                                 alt="image description">
                                            <div class="caption">
                                                <div class="c1">
                                                    <div class="c2">
                                                        <strong class="title">{{ article.subarticle.first.title }}</strong>
                                                        <p>{{ article.subarticle.first.body|truncatechars:30|safe }}</p>
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ article.subarticle.first.photo2|thumbnail_url:'zargar_big' }}"
                                                                   class="lightbox"><i class="icon-resize-full-alt"></i>
                                                                    <span>resize</span></a></li>
                                                            <li>
                                                                <a href="{% url 'uznation:small' pk=article.subarticle.first.pk %}"><i
                                                                        class="icon-attach"></i> <span>attach</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 4 %}
                            <div class="info info-4">
                                <div class="img-frame">
                                    <div class="txt-holder wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="images">
                                            <img src="{{ article.subarticle.first.photo|thumbnail_url:'kechabugun' }}"
                                                 alt="image description">
                                        </div>
                                        <div class="txts">
                                            <div class="txt-box">
                                                <h3>{{ article.subarticle.first.title }}</h3>
                                                <p>{{ article.subarticle.first.body|truncatechars:300|safe }}</p>
                                                <a href="{% url 'uznation:small' pk=article.subarticle.first.pk %}"
                                                   class="continue"><span>{% trans 'READ MORE' %}</span> <i class="icon-right-thin"></i></a>
                                                <!-- 1991-yildanoldingi holatlar, SSSR haqida link-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt-holder right wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="txts">
                                            <div class="txt-box">
                                                <h3>{{ article.subarticle.last.title }}</h3>
                                                <p>{{ article.subarticle.last.body|truncatechars:300|safe }}</p>
                                                <a href="{% url 'uznation:small' pk=article.subarticle.last.pk %}"
                                                   class="continue"><span>{% trans 'READ MORE' %}</span> <i class="icon-right-thin"></i></a>
                                            </div>
                                        </div>
                                        <div class="images">
                                            <img src="{{ article.subarticle.last.photo|thumbnail_url:'kechabugun' }}"
                                                 alt="image description">
                                        </div>
                                    </div>
                                </div>
                                <div class="txt-frame wow fadeInRight" data-wow-delay="0.6s">
                                    <h2 class="tild">{{ article.b_tild }}</h2>
                                    <!--<span class="num">06</span> -->
                                    <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">{% trans 'MORE' %}</a>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 5 %}
                            <div class="info info-5">
                                <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                                    <h2 class="tild">{{ article.b_tild }}</h2>
                                    <!-- <span class="num">05</span> -->
                                    <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">{% trans 'MORE' %}</a>
                                </div>
                                <div class="img-frame wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="slider">
                                        <div class="mask">
                                            {% for t in article.subarticle.all %}
                                                <div class="slide">
                                                    <blockquote>
                                                        <q>{{ t.body|truncatechars:280|safe }}<br/><br/></q>
                                                        <footer>
                                                            <span class="designation">{{ t.title }}</span>
                                                        </footer>
                                                    </blockquote>
                                                    <div class="images">
                                                        <img src="{{ t.photo|thumbnail_url:'turism' }}"
                                                             alt="image description">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="pagination">
                                            <ul class="mask-inner">
                                                {% for t in article.subarticle.all %}
                                                    <li>
                                                        <a href="#"><img src="{{ t.photo|thumbnail_url:'turism' }}"
                                                                         alt="image description"
                                                                         style="height:164px"></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="info info-6">
                        <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                            {% for news in all_news %}
                                <ul class="text-box team{{ forloop.counter }}">
                                    <li>
                                        <h2><a href="{% url 'uznation:news' pk=news.pk %}">{{ news.news_title }}</a>
                                        </h2>
                                    </li>
                                    <li>
                                        <p>{{ news.news_body|truncatechars:200|safe }}</p>
                                    </li>
                                </ul>
                            {% endfor %}
                            <div class="img-holder wow fadeInUp" data-wow-delay="0.5s">
                                {% for news in all_news %}
                                    <div class="box box{{ forloop.counter }}">
                                        <div class="img"><a href="#" class="team{{ forloop.counter }}-opener">
                                            <img src="{{ news.news_photo|thumbnail_url:'news_index' }}"
                                                 alt="image description" style="width:260px; height:340px">
                                        </a></div>
                                        <div class="txt-box">
                                            <h3><a href="#"
                                                   class="team{{ forloop.counter }}-opener">{{ news.news_title }}</a>
                                            </h3>
                                            <span class="designation">{{ news.news_created|date:'d.m.Y' }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="img-frame">
                            <div class="image wow fadeInRight" data-wow-delay="0.6s"
                                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                                {% for news in all_news %}
                                    <img src="{{ news.news_photo|thumbnail_url:'news_index' }}" alt="image description"
                                         class="team{{ forloop.counter }}-img" style="width:400px; height:550px">
                                {% endfor %}
                            </div>
                            <div class="text wow fadeInRight" data-wow-delay="0.3s">
                                <h2 class="tild">{% trans 'LAST NEWS' %}</h2>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    </main>
{% endblock %}


