{% extends 'base-for-common.html' %}
{% load staticfiles tree_tags i18n %}

{% block title %}UzNation | {% trans 'Proverbs' %}{% endblock %}

{% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 col-lg-push-3 col-sm-push-4 content">
        <!-- gallery -->
        <div class="text">
            <div class="panel-group" id="accordion">
                <h2>{% trans 'Uzbek Proverbs' %}</h2>
                {% for maqol in posts %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ forloop.counter }}">
                                    {{ maqol.title }}</a>
                            </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
                            <div class="panel-body">{{ maqol.body|safe }}</div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'pagination.html' with page=posts %}
            </div>
            <div class="masonry-holder">
                <ul class="masonry add">
                    {% for fairytale in tales %}
                        <li>
                            <div class="holder">
                                <div class="img">
                                    <img src="{{ fairytale.tale.photo.url }}"
                                         alt="{{ fairytale.tale.title }}">
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block pics %}
    <ul class="instagram">
        {% for pic in gallery %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
        {% endfor %}
    </ul>
{% endblock %}