{% extends 'base-for-common.html' %}
{% load i18n %}
{% block title %}UzNation | {% trans 'News' %}{% endblock %}

{% block main-row-div-1 %}
    <h2>{{ content.news_title }}</h2>
    <div class="img"><img src="{{ content.news_photo.url }}" alt="{{ content.news_title }}"
                          style="width:900px; height:500px;"></div>
    <div class="text">

        <p>{{ content.news_body|safe }}</p>
    </div>
{% endblock %}

{% block pics %}
    <ul class="instagram">
        {% for pic in gallery %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
        {% endfor %}
    </ul>
    <!-- TODO: pics-->
{% endblock %}

