{% extends 'base-for-common-right.html' %}
{% load i18n %}
{% load thumbnail %}
{% block title %}UzNations | {% trans 'Regions' %}{% endblock %}

{% block main-row-div-1 %}
        <div class="article-holder">
            {% for region in regions %}
                <!-- article -->
                <article class="article side">
                    {% if forloop.counter|divisibleby:"2" %}
                        <div class="image wow fadeInLeft" data-wow-delay="0.6s">
                        {% thumbnail region.photo "220x144" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="{{ region.title }}">
                        </div>
                        <div class="text wow fadeInRight" data-wow-delay="0.6s">

                            <div class="txt">
                                <h2>{{ region.title }}</h2>
                                {{ region.body|truncatechars:200|safe }}
                                <a class="more" href="{% url 'uznation:regions' pk=region.pk %}">
                                    <span>{% trans 'MORE' %}</span>
                                    <i class="icon-right-thin"></i>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="text wow fadeInLeft" data-wow-delay="0.6s">

                            <div class="txt">
                                <h2>{{ region.title }}</h2>
                                {{ region.body|truncatechars:200|safe }}
                                <a class="more" href="{% url 'uznation:regions' pk=region.pk %}">
                                    <span>{% trans 'MORE' %}</span>
                                    <i class="icon-right-thin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="image wow fadeInRight" data-wow-delay="0.6s">
                        {% thumbnail region.photo "220x144" crop="100%" as img %}
                            <img src="{{ img.url }}" alt="{{ region.title }}">
                        </div>
                    {% endif %}

                </article>
            {% endfor %}
        </div>
{% endblock %}

{% block pics %}
    <ul class="instagram">
        {% for pic in gallery %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
        {% endfor %}
    </ul>
{% endblock %}
