{% extends 'base-for-common.html' %}
{% load i18n %}
{% block title %}Uznations{% endblock %}

{% block main-row-div-1 %}
        <!-- gallery -->
        <div class="readmore">

            <h2>{% trans 'You searched for ' %}{{ search_query }}</h2>

            {% for result in searchS %}
                <div class="widget wow fadeInUp">
                    <h2 class="line">___</h2>
                    <h2>{{ result.title }}</h2>
                    <p>{{ result.body|truncatechars:800|safe }}</p>
                    <a href="{% url 'uznation:small' pk=result.pk %}" class="more">>>{% trans 'READ MORE' %}</a>
                </div>
            {% endfor %}
            {% for result in searchW %}
                <div class="widget wow fadeInUp">
                    <h2 class="line">___</h2>
                    <h2>{{ result.title }}</h2>
                    <p>{{ result.body|truncatechars:800|safe }}</p>
                    <a href="{% url 'uznation:small' pk=result.pk %}" class="more">>>{% trans 'READ MORE' %}</a>
                </div>
            {% endfor %}
            {% for result in searchR %}
                <div class="widget wow fadeInUp">
                    <h2 class="line">___</h2>
                    <h2>{{ result.title }}</h2>
                    <p>{{ result.body|truncatechars:800|safe }}</p>
                    <a href="{% url 'uznation:small' pk=result.pk %}" class="more">>>{% trans 'READ MORE' %}</a>
                </div>
            {% endfor %}
            {% for result in searchN %}
                <div class="widget wow fadeInUp">
                    <h2 class="line">___</h2>
                    <h2>{{ result.title }}</h2>
                    <p>{{ result.body|truncatechars:800|safe }}</p>
                    <a href="{% url 'uznation:small' pk=result.pk %}" class="more">>>{% trans 'READ MORE' %}</a>
                </div>
            {% endfor %}
        {% if searchS.count == 0 and searchR.count == 0 and searchN.count == 0 and searchW.count == 0 %}
        <h3>{% trans 'No Results !!!' %}</h3>
        {% endif %}
        </div>
{% endblock %}

{% block pics %}
<ul class="instagram">
        {% for pic in gallery %}
            <li><a href="#"><img src="{{ pic.photo.url }}" alt="{{ pic.description|safe }}"
                                 style="width:83px; height:83px;"></a></li>
        {% endfor %}
    </ul>
{% endblock %}
